/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.theme-light{
    --bg-theme: #e0e0e0;
    --text-theme: #212529;
    --shadow-theme-1: #bebebe;
    --shadow-theme-2: #ffffff;
    --border-theme: #fdfdfd61;
    --link-theme: #00AEEF;
    --footer-link: #00AEEF;
    --secondary-link: #080808;
    --btn-text: #e4e4e4;
    --btn-hover: #0d6efd;
    --switch-shadow-from: #00afefd8;
    --switch-shadow-to: #00afef04;
}
.theme-dark{
    --bg-theme: #18191A;
    --text-theme: #e4e4e4;
    --shadow-theme-1: #0b0b0b; 
    --shadow-theme-2: #2d2d2d;
    --border-theme: #fdfdfd61;
    --link-theme: #304FFE;
    --footer-link: #e4e4e4;
    --secondary-link: #e4e4e4;
    --btn-text: #e4e4e4;
    --btn-hover: #0d6efd;
    --switch-shadow-from: #5a6166;
    --switch-shadow-to: #5A616600;
}

::selection{
    color: var(--bg-theme);
    background-color: var(--link-theme);
}


*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: var(--bg-theme);
    color: var(--text-theme);
    margin: auto;
    text-align: center;
    width: 1200px;
    padding: 10px 100px;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0px;
    /* width: 85%; */
    margin: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
/* .head{
} */
.head h1{
    /* padding-top: 70px; */
    /* padding: 40px; */
    font-size: 26px;
    font-weight: 500;
}
.logo{width: 150px;}
.logo img{
    width: 100%;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
section{
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* width: 1200px; */
    margin-top: 20px;
    padding: 50px 100px;
    border-radius: 20px;
    background: var(--bg-theme);
    -webkit-box-shadow:  12px 12px 24px var(--shadow-theme-1), 
    -12px -12px 24px var(--shadow-theme-2);
            box-shadow:  12px 12px 24px var(--shadow-theme-1), 
    -12px -12px 24px var(--shadow-theme-2);
    margin-bottom: 70px;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
section table{
    width: 100%;
}
/*
    padding: 10px;
    border-color: #fdfdfd61;
}*/
/* section table tr{}
section table tr:first-child{} */
section table tr td{
    padding: 10px;
    border-style: none;
    font-weight: 500;
    height: 50px;
    border-color: var(--border-theme);
}
section table tr td:nth-child(4)
{
    font-size: 12px;
}

/* .link{
}
.link:hover{
} */
.link a{
    background-color: var(--link-theme);
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--btn-text);
    /* background: var(--link-theme); */
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.link a:hover{
    -webkit-transform: scale(1.10);
        -ms-transform: scale(1.10);
            transform: scale(1.10);
}
.link a:active{
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}



footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    /* width: 1100px; */
    margin: auto;
    margin-bottom: 40px;
    font-weight: 500;
}
footer ul{
    text-align: left;
    width: 50%;
}
footer ul:last-child{
    text-align: end;
}
@media(max-width:771px) {
    footer ul{
        width: 100%;
    }
    footer ul:last-child{
        text-align: left;
    }
}

footer ul li{
    list-style-type: none;
    padding: 5px 0px;
}
footer ul li span{
    display: inline-block;
    padding: 5px 0px;
}
footer ul li a{
    color: var(--footer-link);
    -webkit-transition: color 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: color 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
    transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
    transition: color 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    text-decoration: none;
    display: inline-block;
}

footer ul li a:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    color: var(--btn-hover);
}
footer ul li a:hover i {
    color: var(--btn-hover);
}
footer ul li a:active {
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}
footer ul li a i{
    color: var(--footer-link);
    padding: 0px 5px;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
}
.overlaybttn{
    margin: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.themechng{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.overlaybttn a{
    color: var(--text-theme);
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 20px;
    background: var(--bg-theme);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    /* box-shadow: 2px 2px 6px #0b0b0b, -2px -2px 6px #2d2d2d; */
}
.overlaybttn a:hover{
    -webkit-box-shadow: 2px 2px 6px var(--shadow-theme-1), -2px -2px 6px var(--shadow-theme-2);
            box-shadow: 2px 2px 6px var(--shadow-theme-1), -2px -2px 6px var(--shadow-theme-2);
}
.overlaybttn a i{
    color: var(--link-theme);
    font-size: 21px;
}
.overlaybttn a span{
    padding-left: 2px;
    font-size: 20px;
    display: inline-block;
}

.titl{
    width: 100%;
    /* font-size: 34px; */
    padding-bottom: 10px;
}
.titl h1{
    font-size: 34px;
    font-weight: 600;
    margin-top: 30px;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 0px 15px #2020203d;
            box-shadow: 0 0px 15px #2020203d;
    background: white url('../images/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .slider {
    background-color: var(--link-theme);
  }
  
  input:focus + .slider {
    -webkit-box-shadow: 0 0 1px var(--link-theme);
            box-shadow: 0 0 1px var(--link-theme);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    background: white url('../images/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  /* The switch - the box around the slider */

  
  .pulseBtn {
      padding: 12px 24px;
      background-color: hsl(222, 100%, 95%);
      color: hsl(243, 80%, 62%);
      border-radius: 6px;
      -webkit-box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7);
              box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7);
      -webkit-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
              animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  }


  .switch {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 25px;
      border-radius: 45px;
      -webkit-box-shadow: 0 0 0 0 var(--switch-shadow-from);
              box-shadow: 0 0 0 0 var(--switch-shadow-from);
      -webkit-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
              animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    }
    @-webkit-keyframes pulse {
        to {
          -webkit-box-shadow: 0 0 0 20px var(--switch-shadow-to);
                  box-shadow: 0 0 0 20px var(--switch-shadow-to);
        }
    }
    @keyframes pulse {
        to {
          -webkit-box-shadow: 0 0 0 20px var(--switch-shadow-to);
                  box-shadow: 0 0 0 20px var(--switch-shadow-to);
        }
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  /* Rounded sliders */
  .slider.round {
    border-radius: 25px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  @media (max-width: 1199px)
  {
      body{
          width: 100%;
          padding: 10px 50px;
      }
      header{
          padding: 20px 0px;
      }
      .logo{
          width: 100px;
      }
      .head h1{
          font-size: 18px;
      }
      .overlaybttn {
          margin: 0px 0px;
      }
      section{
          padding: 30px 30px;
      }
      section table tr td{
          width: 33.33%;
          position: relative;
          padding: 30px 5px;
      }
      section table tr td::before{
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
      }
      section table tr th {
          width: 33.33%;
      }
      section table tr td:nth-child(4), section table tr th:nth-child(4){
          width: 100% !important;
      }
      section table tr th:nth-child(5){
          width: 100%;
      }
      section table tr {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          border-bottom: 1px groove white;
          padding: 25px;
      }
      section table tr td:nth-child(4) {
          font-size: 14px;
          margin-top: 20px;
          padding-bottom: 60px;
      }

      td::before{
          position: absolute;
          width: 100%;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
      }
      td:first-child::before{
          content: '#';
      }
      td:nth-child(2)::before{
          content: 'Date';
      }
      td:nth-child(3)::before{
          content: 'Subject';
      }
      td:nth-child(4)::before{
          content: 'Highlighted Topic';
          font-size: 16px;
      }
      td:nth-child(4)::after{
          content: 'Video links & Assignment';
          width: 100%;
          font-size: 16px;
          position: absolute;
          top: 90%;
          left: 50%;
          transform: translateX(-50%);
      }
      section table tr:first-child{
          display: none;
      }
      /* .overlaybttn a i, .overlaybttn a span{
      } */



  }
  @media (max-width: 991px)
  {
      body{
          padding: 10px 40px;
      }


  }
  @media (max-width: 767px)
  {
      body{
          padding: 10px 10px !important;
      }

  }
  @media (max-width: 599px)
  {
      .logo {
      width: 100%;
  }
  .logo img {
      width: 30%;
      margin: auto;
  }
  .head {
      width: 100%;
      margin-top: 20px;
  }
  header {
      padding: 10px 0px;
  }
  section {
      padding: 10px 10px;
  }
  .titl h1 {
      font-size: 25px;
      margin-top: 20px;
  }
  section table tr th {
      padding: 10px 5px;
      width: 100%;
      font-size: 14px;
  }
  section table tr td {
      width: 100%;
  }
  section table tr td:first-child, section table tr td:nth-child(2),
  section table tr th:first-child, section table tr th:nth-child(2){
      width: 50% !important;
  }
  footer ul li span, footer ul li a{
      font-size: 14px;
  }


  }